/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #eafbf4;
}

.watched {
  display: inline-block;
  margin-left: 5px;
}

#search {
  width: 30%;
  padding: 6px 8px;
  box-sizing: border-box;
  border: 2px solid darkblue;
  border-radius: 8px;
}

input[type=submit], button[type=submit] {
  background-color: darkblue;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 4px; 
}

.login-form-button {
  display: block;
  max-width: fit-content;
  margin-top: 8px;
}

@media screen and (max-width: 599px) {

  form[action="/pages/login"] input[type="text"],
  form[action="/pages/login"] input[type="password"] {      
    font-size: 1.2rem;       
    padding: 10px 12px;      
    margin-bottom: 15px;     
    border-radius: 6px;       
    border: 1px solid #ccc;  
  }
}
/*  global classes */

a:hover {
  color:darkblue
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  font-weight: 900;
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
===============
Nav bar
===============
*/

.nav_bar {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  list-style: none;
  margin: 1rem;
  height: 60px; 
  flex-wrap: wrap;
  padding: 0 1rem;
}

.nav {
  background-color: skyblue;
  width: 100vw;
  margin: -33px 0 0 -33px;
  height: fit-content;
}
.nav_list {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}
.nav_list a {
  color: white;
}

.sign_in_status {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto; /* pushes to the right */
}

.username {
  font-size: 1rem;
}

@media screen and (max-width: 599px) {

  .body {
    margin-right: 5px;
  }
  .nav_bar {
    flex-direction: column;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 0;
    padding-right: 0;
  }

  .nav-logged-in {
    align-items: baseline; 
  }

  .nav-logged-out {
    align-items: center;  
    flex-direction: initial;
  }

  .nav_list {
    display: inline-block;
    margin-right: 0;
  }
  .nav_list a {
    font-size: 14px;
    color: white;
  }

  .sign-in-status-right-align {
    align-self: center;
    margin-top: 10px;
  }

  .sign-in-status-center-align {
    align-self: center;
    margin-top: 10px;
  }

  .username {
    font-size: 0.8rem;
  }
  .login-button input {
    font-size: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .nav_list {
    display: inline-block;
  }
  .nav_list a {
    font-size: 16px;
    color: white;
  }
}

/*
===============
Questions
===============
*/
.questions {
  align-content: center;
  text-align: center;
  align-self: center;
}

.title h2 {
  color: var(--clr-gold);
  text-align: center;
}
.section-center {
  width: 50%;
}
.question {
  background: var(--clr-white);
  border: 2px solid var(--clr-black);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.question-title p {
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}
.question-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  transition: var(--transition);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
}
.question-text p {
  margin-bottom: 0;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

span.faq-arrow {
  position: relative;
}
.customlistfilmtitle input {
  display: inline;
}
.customlistfilmtitle input[type="checkbox"] {
  display: inline-block;
}
.customlistfilmtitle input[type="checkbox"] + label {
  display: inline-block;
}

.customlistfilmtitle input[type="checkbox"] + label:after {
  display: inline-block;
  content: "\a";
  white-space: pre;
}

.customlistfilmtitle:after {
  content: "\a";
  white-space: pre;
}

table {
  border-collapse: collapse;
  border-spacing: 0 15px;
  border-width: 1px;
}

table td {
  vertical-align: top;
}

table tr {
  border-bottom: 1pt solid black;
}

.row:after {
  display: table;
  clear: both;
}

.col-md-4 {
  float: left;
  width: 60%;
}

  @media screen and (min-width: 619px) {
    .col-md-4 {
      width: 30%;
    }
  }
  @media screen and (min-width: 900px) {
    .col-md-4 {
      width: 20%;
    }
  }
  @media screen and (min-width: 1600px) {
    .col-md-4 {
      width: 10%;
    }
  }



