// Place all the styles related to the films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.poster {
  float: left;
  margin-right: 10px;
}
.film_details {
  max-width: 75%;
  margin-bottom: 20px;
}
.recommended {
  float: left;
  margin-bottom: 10px;
  clear: both;
  width: 100%;
}
.recommended-section {
}
.recommended_film {
  display: inline-block;
  margin-right: 5px;
  width: 120px;
  vertical-align: top;
}
.recommended-poster {
  margin-bottom: 0px;

}
.recommended-title {
  word-wrap: break-word;
  margin: 5px;
}
.show-films-links {
  float: left;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;

}

.matching_films {
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  min-height: 100px;
  overflow: hidden;
}

.radio_button {
  float: left;
}
.movie_title {
  float: left;
}
.poster_confirmation {
  float: left;
  margin: 5px;
}
