// Place all the styles related to the films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.poster {
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.film_details {
  margin-bottom: 20px;
}
.recommended {
  float: left;
  margin-bottom: 10px;
  clear: both;
  width: 100%;
}
.recommended_film {
  display: inline-block;
  margin-right: 5px;
  width: 120px;
  vertical-align: top;
}
.recommended-poster {
  margin-bottom: 0px;

}
.recommended-title {
  word-wrap: break-word;
  margin: 5px;
}
.show-films-links {
  float: left;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;

}

.matching_films {
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  min-height: 100px;
  overflow: hidden;
}

.radio_button {
  float: left;
}
.movie_title {
  float: left;
}
.poster_confirmation {
  float: left;
  margin: 5px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.overlay_poster {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.watched-tick {
  display: inline-block;
  padding-left: 10px;
  }

  .film-title {
    display: inline-block;
  }


@media screen and (max-width: 600px) {
  .watched-tick {
    display: inline-block;
  }
  .film-title {
    display: inline-block;
  }
  .film_details {
    max-width: 100%;
  }
}
// @media screen and (min-width: 600px) {
//   .watched-tick {
//     display: inline-block;
//     padding-left: 10px;
//   }
// }
