.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.home-button {

  border: 1px solid black;
  flex: 0 0 33%;
  margin: 5px;
  padding: 5px;
}

.home-button, a {
  text-decoration: none !important;
}

.home-button-text {
  text-align: center;
}
.banner {
  width: auto;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: #fff;
}
.banner::-webkit-scrollbar{
  display: none;
}

.home-films-watched {
  float: none;
  margin: auto;
  border: 2px;
  border-style: solid;
  border-radius: 100px;
  background-color: #fbf5ea;
  /* margin-top: 25px; */
  width: fit-content;
}
.home-films-watched-title{
  margin: 10px 15px 10px 15px;
}
.home-films-watched-count {
  text-align: center;
  margin: 5px 5px 10px 5px;
}