.container {
    margin-bottom: 2rem; /* Ensure enough space at the bottom for pagination */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
.img-container {
    width: auto;
}

.unwatched-films-row {
    margin-bottom: 5%;
    margin-right: 5%;;
}
  

  .pagy-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 80%; 
    max-width: 800px; 
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;;
    text-align: center;
    z-index: 10; 
    padding: 25px, 25px, 25px, 25px; 
    font-size: 18px;
  }

  .pagy-nav span {
    position: static; 
  }
  
  .pagy-nav a {
    margin: 0 2px; 
  }
  
  .pagy-nav .active {
    font-weight: bold; 
  }

  /* Styles for the rest of the layout (films-watched, title, etc.) */
  .films-watched {
    float: right;
    border: 2px solid;
    border-radius: 100px;
    background-color: #fbf5ea;
    padding: 5px;
  }
  
  .films-watched-title {
    margin: 10px 15px;
  }
  
  .films-watched-count {
    text-align: center;
    margin: 15px 5px 10px 5px;
  }
  
  /* Ensure mobile styles are well-spaced */
  @media screen and (max-width: 600px) {
    .films-watched {
      width: 100px;
      text-align: center;
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 375px) {
    .people-page.col-md-4 {
        width: 20%;
        flex: 0 0 20%;
        max-width: 10%;
    }
    .films-watched {
      width: 80px;
      height: 80px;
      font-size: 8px;
    }
    .films-watched-title {
      margin: 3px 10px 5px 10px;
    }
    .films-watched-count {
      margin: 5px 5px 10px 5px;
    }
  }
  
  /* Mobile Screens (Up to 619px) */
  @media screen and (max-width: 619px) {
    .films-watched {
        display: none;
    }

    .col-md-4.unwatched-films-row {
      flex: 2;
      margin-right: 8px;
    }
    
    .unwatched-films-row {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .title {
      font-size: 12px;
      height: 40px;
      padding: 0;
    }
    .film {
      width: 100px;
      height: 150px;
    }
    .container {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  
  /* Larger Screens (Above 620px) */
  @media screen and (min-width: 620px) {
    .title {
      font-size: 14px;
      height: 40px;
      padding: 0 15px;
    }
    .film {
      height: 300px;
    }
    .unwatched-films-row {
      width: auto;
      margin-top: 50px;
    }
    .container {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  
  /* Larger Screens (1024px and up) */
  @media screen and (min-width: 1024px) {
    .films-watched {
      float: right;
      border: 2px solid;
      border-radius: 100px;
      background-color: #fbf5ea;
    }
  
    .films-watched-title {
      margin: 10px 15px;
    }
  
    .films-watched-count {
      text-align: center;
      margin: 5px 5px 10px 5px;
    }
  
    .title {
      margin: 5px 0 8px 0;
      padding: 0 15px 10px 15px;
    }
  
    .unwatched-films-row {
      width: auto;
      margin-top: 50px;
    }
  }
  
  /* Extra Large Screens (1440px and up) */
  @media screen and (min-width: 1440px) {
    .unwatched-films-row {
      width: auto;
      margin-top: 50px;
      margin-right: 2%;
    }
  }
  
  
  